
<h1>My Restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <a href="restaurants/<%= restaurant.id %>">
        <%= restaurant.name %>
      </a>
    </li>
  <% end %>
</ul>
